.banner{
    background-image: url("../../project-img/family-2.jpg");
    height: 130vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
    
}
.banner-title-text{
    /* font-family: 'Times New Roman', Times, serif; */
    font-family:cursive;
    color: rgb(25, 25, 184);
    font-weight: 700;
    font-size: 38px;
}
.header-btn{
    background-color: crimson;
    color: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
}